.app {
  @apply flex flex-col min-h-screen;
}

.gradient-bg {
  height: calc(100% - 3rem);
  width: 100%;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.8), rgba(29, 27, 49, 0.75), rgba(0, 0, 0, 0.8), rgba(58, 28, 81, 0.75));
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;
  position: absolute;
  z-index: 0;
}

@keyframes color {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}

.header {
  @apply text-white py-4 px-6 shadow-md flex items-center justify-between bg-zinc-900 border-b-4 border-violet-500;
  height: 3rem;
}

.body-div {
  flex-grow: 1; /* flex-grow: 1; */
  display: flex; /* flex */
  background-size: cover;
  background-image: url('img/bg4.jpg');
  height: calc(100% - 3rem);
}

.top {
  @apply w-full max-w-md mx-auto relative mt-16;
}

.search-bar {
  @apply bg-zinc-800 shadow-md text-white w-full px-4 py-2 rounded-md border-none focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50;
}

.dropdown-div {
  @apply absolute shadow-md w-full overflow-y-auto max-h-80;
}

.dropdown-div::-webkit-scrollbar {
  display: none;
}

.search-button {
  @apply absolute top-0 right-0 mr-1 p-2 rounded-md bg-transparent focus:outline-none;
}

.dropdown-items {
  @apply divide-y divide-none bg-zinc-700 bg-opacity-80;
  z-index: 10; /* Ensure dropdown appears in front of other elements */
  position: relative;
  padding-top: 0.25em;
}

.main-box {
  background-color: rgba(255, 255, 255, 0.2); /* bg-gray-700 equivalent */
  color: #fff; /* text-white equivalent */
  width: 90%;
  padding: 1rem; /* p-4 equivalent */
  max-height: 90%;
  height: 100%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  backdrop-filter: blur(10px);
  z-index: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.placeholder-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: large;
  font-weight: bold;
}

.lyrics-container {
  margin: 1em 1em 0.5em 1em; 
  flex-grow: 1;
  overflow-y: auto;
  height: 20rem;
  font-size: 120%;
}

.lyrics-container::-webkit-scrollbar {
  display: none;
}

.metadata-div {
  width: 100%;
  margin: 0 auto;
}

.romanize-btn {
  @apply text-white rounded;
  background-color: rgb(0, 0, 0);
  width: auto;
  padding: 0 0.5em;
  font-weight: bold;
}